:root {
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.35) !important;
    --el-mask-color: rgba(255, 255, 255, .6) !important;
}

.el-divider__text {
    background-color: inherit !important;
}


.el-textarea__inner,
.el-input__wrapper {
    border-radius: 0 !important;
}